---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker # Forbid UTF-8 byte-order markers
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.52.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        types_or: [javascript, jsx, ts, tsx, vue]
        types: [file]
        additional_dependencies:
          - eslint-plugin-vue@v7.5.0
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.7.1' # Use the sha / tag you want to point at
    hooks:
      - id: prettier
        exclude: ^CHANGELOG\.md$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        files: \.([jt]s|scss)$
        args:
          - --license-filepath
          - LICENSE.txt # defaults to: LICENSE.txt
          - --comment-style
          - /*| *| */
          - --use-current-year
          - --no-extra-eol
          - --fuzzy-match-generates-todo
      - id: insert-license
        files: \.vue$
        args:
          - --license-filepath
          - LICENSE.txt # defaults to: LICENSE.txt
          - --comment-style
          - <!--| * | -->
          - --use-current-year
          - --no-extra-eol
          - --fuzzy-match-generates-todo
