/*
 * Copyright 2026 FZI Forschungszentrum Informatik
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *    * Redistributions of source code must retain the above copyright
 *      notice, this list of conditions and the following disclaimer.
 *
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in the
 *      documentation and/or other materials provided with the distribution.
 *
 *    * Neither the name of the {copyright_holder} nor the names of its
 *      contributors may be used to endorse or promote products derived from
 *      this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */
.reactive-svg {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* only required for <img /> */
  height: 100%;

  background: #34393c;

  /* Node state border colors */

  --node-color-running: #ffc107;
  --node-color-idle: #007bff;
  --node-color-succeeded: #28a745;
  --node-color-failed: #dc3545;
  --node-color-shutdown: #7c1e27;
  --node-color-default: #4e5666;

  --node-bg-broken: #941d1d;
  --node-bg-default: #2a2d36;
}

.lightmode.reactive-svg {
  background: #ffffff;

  --node-color-running: #ffff07;
  --node-color-idle: #007bff;
  --node-color-succeeded: #00ff3c;
  --node-color-failed: #ff0019;
  --node-color-shutdown: #ab0011;
  --node-color-default: #353535;

  --node-bg-broken: #e98080;
  --node-bg-default: #dedede;
}

.svg-button:hover {
  fill: #bebebe;
}

rect.selection {
  stroke: gray;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

.node {
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #aaadaf;
  stroke-width: 3.5px;
}

.lightmode .link {
  stroke: #1e2226;
}

.btnode {
  stroke-width: 5px;
}

.node-selected {
  fill: #27406d !important;
}

.lightmode .node-selected {
  fill: #76a6ff !important;
}

.node_name,
.class_name {
  dominant-baseline: hanging;
  pointer-events: none;
}

.lightmode .warn_msg {
  stroke: white;
}

.node_name {
  fill: white;
  font-size: 36px;
}

.lightmode .node_name {
  fill: black;
}

.class_name {
  fill: #858e99;
  font-size: 28px;
}

.lightmode .class_name {
  fill: #454954;
}

.state_icon path {
  fill: white;
}

.lightmode .state_icon path {
  fill: black;
}

.button_icon path {
  fill: white;
}

.lightmode .button_icon path {
  fill: black;
}

.label {
  pointer-events: none;
  fill: #eff0f4;
  stroke: #111215;
  stroke-width: 6px;
  paint-order: stroke;
}

path.data-hover,
path.data-select {
  stroke: #148050;
  background: #148050;
}

.gripper {
  fill: slategray;
}

.gripper-duplicate {
  fill: url(#pattern_stripes);
}

.data-link,
.drawing-indicator {
  fill: none;
  stroke: #64676f;
  stroke-width: 3px;
}

.data-hover rect,
.data-select rect {
  stroke: #148050;
  background: #148050;
  fill: #148050;
}

.compatible rect {
  stroke: #14d050;
}

.drawing-indicator {
  pointer-events: none;
}
