name: Lint

permissions:
  checks: write
  pull-requests: write

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 23.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm install -g eslint
      - name: Install pre-commit
        run: |
          sudo apt-get update
          sudo apt-get install -y pre-commit
      - name: Run pre-commit
        run: |
          git config --global --add safe.directory $(pwd)
          pre-commit run --all
